@model PollProject.Models.PollViewModel

@{
    ViewBag.Title = "Poll completed successfully";
}

<h4>Thanks for your answers</h4>

<div>
    @Html.ActionLink("Back to list of polls", "Index")
</div>
